### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Ignore Gradle project-specific cache directory
/buildSrc/.gradle/

# Compiled class file
*.class

# Log file
*.log

# Ignore Gradle build output directory
build
out